/* src/app/shared/controls/dialog/dialog-outlet/dialog-outlet.component.scss */

.background {
    opacity: 0.4;
    background-color: black;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
}

.container {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11000;
}

.dialog {
    background-color: white;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}