<!-- src/app/flight-booking/flight-edit/flight-edit.component.html -->

<h1>Flight Edit</h1>


<div *ngIf="showWarning" class="alert alert-warning">
    <div>Daten wurden nicht gespeichert! Trotzdem Maske verlassen?</div>
    <div>
        <a href="javascript:void(0)" (click)="decide(true)" class="btn btn-danger">Ja</a>
        <a href="javascript:void(0)" (click)="decide(false)" class="btn btn-default">Nein</a>
    </div>
</div>

<p>
    Id: {{id}}
</p>
<p>
    ShowDetail: {{id}}
</p>

<form [formGroup]="formGroup">

    <div class="form-group">
        <label>Id:</label>
        <input formControlName="id" class="form-control">
    </div>

    <fieldset formGroupName="route">
        <!-- Alternative: [formGroup]="routeFormGroup" -->

        <div class="error" *ngIf="routeFormGroup.hasError('roundTrip')">
            Round Trips are not supported!
        </div>

        <div class="form-group">
            <label>From:</label>
            <input formControlName="from" class="form-control">
            <div class="error" *ngIf="routeFormGroup.controls.from.valid === false">
                Validation Error!
            </div>
            <div class="error" *ngIf="routeFormGroup.controls.from.pending">
                Validating Form ...
            </div>
            <div class="error" *ngIf="routeFormGroup.controls.from.hasError('asyncCity')">
                There is no flight for this city!
            </div>

            <div class="error" *ngIf="routeFormGroup.controls.from.hasError('required')">
                This field is required!
            </div>
            <div class="error" *ngIf="routeFormGroup.controls.from.hasError('minlength')">
                Type in 3 charcters at least
            </div>
            <div class="error" *ngIf="routeFormGroup.controls.from.hasError('city')">
                This city is not supported!
            </div>
        </div>

        <div class="form-group">
            <label>To:</label>
            <input formControlName="to" class="form-control">
        </div>
    </fieldset>

    <div class="form-group">
        <label>Date:</label>
        <input formControlName="date" class="form-control">
    </div>

    <div class="form-group">
        <input formControlName="delayed" type="checkbox">
        &nbsp;
        <label>Delayed:</label>
    </div>


    <fieldset formArrayName="categories">

        <div *ngFor="let group of $any(categoriesFormArray.controls)" [formGroup]="group" class="form-group">
            <label>Category Name:</label>
            <input formControlName="categoryName" class="form-control">
            <label>Base Price:</label>
            <input formControlName="basePrice" class="form-control">
        </div>

    </fieldset>

    <button class="btn btn-default" (click)="addCategory()">Add Category</button>


    <button class="btn btn-default" (click)="save()">Save</button>



</form>

<h2>Dynamic Form</h2>

<form [formGroup]="formGroup">
    <div class="form-group" *ngFor="let item of metaData">
        <label>{{item.label}}:</label>
        <input *ngIf="item.type === 'text'" [formControlName]="item.name" class="form-control">
        <input *ngIf="item.type === 'checkbox'" [formControlName]="item.name" type="checkbox">
        <div *ngIf="item.type === 'readonly'">{{ formGroup.controls[item.name].value | json }}</div>
    </div>
</form>