<!-- src/app/customer/booking-history/booking-history.component.html -->

<h1>Booking History</h1>

<app-tabbed-pane>
    <app-tab #tab title="Upcoming Flights">
    
    <app-data-table [data]="flights">
        <div *appTableField="let data as 'id'">{{data}}</div>
        <div *appTableField="let data as 'from'">{{data}}</div>
        <div *appTableField="let data as 'to'">{{data}}</div>
        <div *appTableField="let data as 'date'">{{data | date:'dd.MM.yyyy HH:mm'}}</div>
    </app-data-table>
    
    </app-tab>

    <app-tab #tab title="Operated Flights">
        <p>No operated flights!</p>
    </app-tab>

    <app-tab #tab title="Cancelled Flights">
        <p>No cancelled flights!</p>
    </app-tab>


</app-tabbed-pane>


<button (appClickWithWarning)="delete()" #cww="clickWithWarning">Delete</button>
<button (click)="cww.handleClick(false)">Don't ask questions!</button>


<input [appInfo]="info">
<ng-template #info>
    <p>Important information!</p>
    <p>Test!</p>
</ng-template>


<!--   rnd = Math.random() < 0.5; -->
<ng-container *ngTemplateOutlet="rnd ? yes : no"></ng-container>

<ng-template #yes>Yes</ng-template>
<ng-template #no>No!</ng-template>

<br><br>

<button class="btn" (click)="showDialog()">Show Dialog</button>
<app-dialog-outlet></app-dialog-outlet>
